body {
     background:black;
     color:white;
     margin:0px;
     padding:0px;
}

.header {
     text-align:center;
}

.portal-room {
     display:flex;
     justify-content: center;
     align-items: center;
     height: 80vh;
}

.portal {
     margin:15px;
}

.foot {
     color:#C62121;
     position: fixed;
     right: 10px;
     bottom: 10px;
     font-family:courier;
}
