body {
     background:black;
     color:white;
     margin:0px;
     padding:0px;
}

.header {
     text-align:center;
     height:13vh;
}

.portal-room {
     display:flex;
     justify-content:center;
     align-items:center;
     height:70vh;
}

.portal {
     margin:15px;
}

.foot {
     color:#C62121;
     position:fixed;
     right:10px;
     bottom:10px;
     font-family:courier;
}
